In [179]:
import pandas as pd

In [180]:
data = pd.read_csv('dataset_tuesday_v2.csv')

In [181]:
data.head()

,id,name,description,neighborhood_overview,transit,neighborhood,state,zipcode,latitude,longitude,...,review_scores_location,review_scores_value,cancellation_policy,reviews_per_month,wifi,cable_tv,washer,kitchen,security,cost
0,2015,Berlin-Mitte Value! Quiet courtyard/very central,Great location! 30 of 75 sq meters. This wood...,It is located in the former East Berlin area o...,"Close to U-Bahn U8 and U2 (metro), Trams M12, ...",Mitte,Berlin,10119,52.534537,13.402557,...,10.0,9.0,strict_14_with_grace_period,3.76,1,0,1,1,1,90.0
1,2695,Prenzlauer Berg close to Mauerpark,In the summertime we are spending most of our ...,NaN,Within walking distance you'll find the S-Bahn...,Pankow,Berlin,10437,52.548513,13.404553,...,10.0,10.0,flexible,1.42,1,1,1,1,0,17.0
2,3176,Fabulous Flat in great Location,This beautiful first floor apartment is situa...,The neighbourhood is famous for its variety of...,"We are 5 min walk away from the tram M2, whic...",Pankow,Berlin,10405,52.534996,13.417579,...,10.0,9.0,strict_14_with_grace_period,1.25,1,1,1,1,1,140.0
3,3309,BerlinSpot Schöneberg near KaDeWe,First of all: I prefer short-notice bookings. ...,"My flat is in the middle of West-Berlin, direc...",The public transportation is excellent: Severa...,Tempelhof - Schöneberg,Berlin,10777,52.498855,13.349065,...,9.0,9.0,strict_14_with_grace_period,0.39,1,1,1,0,1,56.0
4,7071,BrightRoom with sunny greenview!,Cozy and large room in the beautiful district ...,"Great neighborhood with plenty of Cafés, Baker...",Best access to other parts of the city via pub...,Pankow,Berlin,10437,52.543157,13.415091,...,10.0,9.0,moderate,1.75,1,1,0,0,0,42.0

In [182]:
data.isnull().sum()

id                            0
name                         54
description                 188
neighborhood_overview     10619
transit                    9177
neighborhood                  0
state                        77
zipcode                       0
latitude                      0
longitude                     0
property_type                 0
room_type                     0
accommodates                  0
bathrooms                    32
bedrooms                     18
beds                         34
bed_type                      0
amenities                     0
price                         0
security_deposit              0
cleaning_fee                  0
guests_included               0
extra_people                  0
minimum_nights                0
maximum_nights                0
number_of_reviews             0
review_scores_rating       4233
review_scores_accuracy     4256
review_scores_location     4271
review_scores_value        4277
cancellation_policy           0
reviews_per_month          3773
wifi                          0
cable_tv                      0
washer                        0
kitchen                       0
security                      0
cost                          0
dtype: int64

In [183]:
data['bedrooms'].fillna((data['bedrooms'].mean()), inplace=True)

In [184]:
data['bathrooms'].fillna((data['bathrooms'].mean()), inplace=True)

In [185]:
data.isnull().sum()

id                            0
name                         54
description                 188
neighborhood_overview     10619
transit                    9177
neighborhood                  0
state                        77
zipcode                       0
latitude                      0
longitude                     0
property_type                 0
room_type                     0
accommodates                  0
bathrooms                     0
bedrooms                      0
beds                         34
bed_type                      0
amenities                     0
price                         0
security_deposit              0
cleaning_fee                  0
guests_included               0
extra_people                  0
minimum_nights                0
maximum_nights                0
number_of_reviews             0
review_scores_rating       4233
review_scores_accuracy     4256
review_scores_location     4271
review_scores_value        4277
cancellation_policy           0
reviews_per_month          3773
wifi                          0
cable_tv                      0
washer                        0
kitchen                       0
security                      0
cost                          0
dtype: int64

In [186]:
data_subset = data[['neighborhood', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'number_of_reviews', 'wifi', 'cable_tv', 'washer', 'kitchen', 'cost']]

In [187]:
data_subset.head()

,neighborhood,room_type,accommodates,bathrooms,bedrooms,number_of_reviews,wifi,cable_tv,washer,kitchen,cost
0,Mitte,Entire home/apt,3,1.0,1.0,118,1,0,1,1,90.0
1,Pankow,Private room,2,1.0,1.0,6,1,1,1,1,17.0
2,Pankow,Entire home/apt,4,1.0,1.0,143,1,1,1,1,140.0
3,Tempelhof - Schöneberg,Private room,2,1.0,1.0,25,1,1,1,0,56.0
4,Pankow,Private room,2,1.0,1.0,197,1,1,0,0,42.0

In [188]:
from sklearn.preprocessing import LabelEncoder

In [189]:
#Encoding

le1 = LabelEncoder()
le1.fit(data_subset['neighborhood'])

LabelEncoder()

In [190]:
le2 = LabelEncoder()
le2.fit(data_subset['room_type'])

LabelEncoder()

In [191]:
data_subset['neighborhood'] = le1.transform(data_subset['neighborhood'])

/home/tcbic/anaconda3/envs/pipenv_base/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [192]:
data_subset['room_type'] = le2.transform(data_subset['room_type'])

/home/tcbic/anaconda3/envs/pipenv_base/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [193]:
data_subset.head()

,neighborhood,room_type,accommodates,bathrooms,bedrooms,number_of_reviews,wifi,cable_tv,washer,kitchen,cost
0,4,0,3,1.0,1.0,118,1,0,1,1,90.0
1,6,1,2,1.0,1.0,6,1,1,1,1,17.0
2,6,0,4,1.0,1.0,143,1,1,1,1,140.0
3,10,1,2,1.0,1.0,25,1,1,1,0,56.0
4,6,1,2,1.0,1.0,197,1,1,0,0,42.0

In [194]:
data_subset.dtypes

neighborhood           int64
room_type              int64
accommodates           int64
bathrooms            float64
bedrooms             float64
number_of_reviews      int64
wifi                   int64
cable_tv               int64
washer                 int64
kitchen                int64
cost                 float64
dtype: object

In [199]:
#Change bedrooms and cost data type from float to int.

data_subset['bathrooms'] = data_subset['bathrooms'].astype(int)

/home/tcbic/anaconda3/envs/pipenv_base/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [200]:
data_subset['bedrooms'] = data_subset['bedrooms'].astype(int)

/home/tcbic/anaconda3/envs/pipenv_base/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [201]:
data_subset['cost'] = data_subset['cost'].astype(int)

/home/tcbic/anaconda3/envs/pipenv_base/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [202]:
data_subset.dtypes

neighborhood         int64
room_type            int64
accommodates         int64
bathrooms            int64
bedrooms             int64
number_of_reviews    int64
wifi                 int64
cable_tv             int64
washer               int64
kitchen              int64
cost                 int64
dtype: object

In [203]:
features = data_subset[['neighborhood', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'number_of_reviews', 'wifi', 'cable_tv', 'washer', 'kitchen']]

In [204]:
features.head()

,neighborhood,room_type,accommodates,bathrooms,bedrooms,number_of_reviews,wifi,cable_tv,washer,kitchen
0,4,0,3,1,1,118,1,0,1,1
1,6,1,2,1,1,6,1,1,1,1
2,6,0,4,1,1,143,1,1,1,1
3,10,1,2,1,1,25,1,1,1,0
4,6,1,2,1,1,197,1,1,0,0

In [205]:
target = data_subset['cost']

In [206]:
target.head()

0     90
1     17
2    140
3     56
4     42
Name: cost, dtype: int64

Split into train and test sets.

In [207]:
from sklearn.model_selection import train_test_split

In [208]:
X_train, X_test, y_train, y_test = train_test_split(features, target, train_size = .80, test_size = .20, random_state=42)

In [209]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((17516, 10), (4380, 10), (17516,), (4380,))

Model

In [210]:
from sklearn.tree import DecisionTreeClassifier

In [211]:
algo = DecisionTreeClassifier()
model = algo.fit(X_train, y_train)

In [212]:
preds = model.predict(X_test)

In [213]:
import pickle

In [214]:
#Pickle the model.

pickle.dump(model, open('tues_model2.pkl', 'wb'))

In [ ]:
#CHECK

In [215]:
import json
import requests

In [216]:
url = "http://localhost:5000/api"

In [217]:
test_dict = {'neighborhood': 12, 'room_type': 1, 'accommodates': 13, 'bathrooms': 2, 'bedrooms': 2, 'number_of_reviews': 4, 'wifi': 0, 'cable_tv': 1, 'washer': 1, 'kitchen': 0}

In [218]:
data = json.dumps(test_dict)

In [219]:
send = requests.post(url, data)

In [220]:
print(send.json())

{'results': {'y_hat': 200}}